<mat-toolbar class='navbar' >
    <div>Usuario</div>
    <div>
      <section>
        <a routerLink="/dashboard" mat-icon-button><mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon></a>
        <a routerLink="/dashboard/fav" mat-icon-button ><mat-icon aria-hidden="false" aria-label="favorite icon">favorite</mat-icon></a>
        <a  routerLink="/login" mat-icon-button color="accent"><mat-icon aria-hidden="false" aria-label="Exit icon">exit_to_app</mat-icon></a>
      </section>
    </div>
  </mat-toolbar>