

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Capitulo {{num}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../assets/descarga.jpg">
        <mat-card-content>
          <p>
            Nombre del capitulo
          </p>
        </mat-card-content>
        <mat-card-actions>
            <a routerLink="/dashboard/info" mat-button>Detalles</a>

         
          <button mat-button>Favoritos</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>